# RANDOM FOREST review

In [1]:
import pandas as pd
import numpy as np

In [2]:
categorical=pd.read_csv('categorical.csv')

In [3]:
numerical=pd.read_csv('numerical.csv')

In [4]:
target=pd.read_csv('target.csv')

In [5]:
categorical.head()

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3

In [6]:
numerical.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26

In [7]:
target.head()

   TARGET_B  TARGET_D
0         0       0.0
1         0       0.0
2         0       0.0
3         0       0.0
4         0       0.0

In [8]:
categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         95412 non-null  object
 1   CLUSTER       95412 non-null  int64
 2   HOMEOWNR      95412 non-null  object
 3   GENDER        95412 non-null  object
 4   DATASRCE      95412 non-null  int64
 5   RFA_2R        95412 non-null  object
 6   RFA_2A        95412 non-null  object
 7   GEOCODE2      95412 non-null  object
 8   DOMAIN_A      95412 non-null  object
 9   DOMAIN_B      95412 non-null  int64
 10  ODATEW_YR     95412 non-null  int64
 11  ODATEW_MM     95412 non-null  int64
 12  DOB_YR        95412 non-null  int64
 13  DOB_MM        95412 non-null  int64
 14  MINRDATE_YR   95412 non-null  int64
 15  MINRDATE_MM   95412 non-null  int64
 16  MAXRDATE_YR   95412 non-null  int64
 17  MAXRDATE_MM   95412 non-null  int64
 18  LASTDATE_YR   95412 non-null  int64
 19  LASTDATE_MM   95412 non-null  int64
 20  FIRSTDATE_YR  95412 non-null  int64
 21  FIRSTDATE_MM  95412 non-null  int64
dtypes: int64(15), object(7)
memory usage: 16.0+ MB

In [9]:
numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 315 entries, TCODE to CLUSTER2
dtypes: float64(9), int64(306)
memory usage: 229.3 MB

In [10]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TARGET_B  95412 non-null  int64
 1   TARGET_D  95412 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 1.5 MB

In [11]:
data=pd.concat([numerical,categorical,target], axis=1)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 339 entries, TCODE to TARGET_D
dtypes: float64(10), int64(322), object(7)
memory usage: 246.8+ MB

In [13]:
data['TARGET_B'].value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

## imbalance management - downsampling

In [14]:
category_0=data[data['TARGET_B']==0].sample(len(data[data['TARGET_B']==1]))

In [15]:
category_1=data[data['TARGET_B']==1]

In [16]:
data=pd.concat([category_0, category_1], axis=0)

In [17]:
data.shape

(9686, 339)

In [18]:
data=data.reset_index(drop=True)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Columns: 339 entries, TCODE to TARGET_D
dtypes: float64(10), int64(322), object(7)
memory usage: 25.1+ MB

### set dependent variable

In [20]:
y=data['TARGET_B']
X=data.drop(['TARGET_B'], axis=1)

In [21]:
X_num=X.select_dtypes(include=np.number)
X_cat=X.select_dtypes(object)

In [22]:
X_cat.shape

(9686, 7)

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
encoder=OneHotEncoder(drop='first').fit(X_cat)

In [25]:
X_cat_en=encoder.transform(X_cat).toarray() # lost categorical feature names

In [26]:
X_cat_en_cols=encoder.get_feature_names_out(X_cat.columns) # restore feature names / older version get_feature_names

In [27]:
X_cat_en_cols

array(['STATE_FL', 'STATE_GA', 'STATE_IL', 'STATE_IN', 'STATE_MI',
       'STATE_MO', 'STATE_NC', 'STATE_TX', 'STATE_WA', 'STATE_WI',
       'STATE_other', 'HOMEOWNR_U', 'GENDER_M', 'GENDER_other',
       'RFA_2A_E', 'RFA_2A_F', 'RFA_2A_G', 'GEOCODE2_B', 'GEOCODE2_C',
       'GEOCODE2_D', 'DOMAIN_A_R', 'DOMAIN_A_S', 'DOMAIN_A_T',
       'DOMAIN_A_U'], dtype=object)

In [28]:
X_cat_en

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [29]:
X_cat_en_df=pd.DataFrame(X_cat_en) # lost categorical feature names

In [30]:
X_cat_en_df=pd.DataFrame(X_cat_en, columns=X_cat_en_cols) # restore categorical names

In [31]:
X_cat_en_df

,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,STATE_WI,...,RFA_2A_E,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
9685,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
X_full=pd.concat([X_cat_en_df,X_num], axis=1) # lost numerical feature names / retained feature names

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X_full,y,test_size=0.3,random_state=40)

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
clf=RandomForestClassifier(n_estimators=200, max_depth=2, random_state=40)
clf.fit(X_train,y_train)
print(clf.score(X_test,y_test))

0.9036476256022024

## with ensemble you should use more than one scoring metric

In [37]:
from sklearn.model_selection import cross_val_score

In [38]:
cross_val_scores=cross_val_score(clf, X_train, y_train)

In [39]:
cross_val_scores # the closer the number are toghter more accurated it is. Also there are more parameters qe have not set up. Cross Validation always split in 5 pieces

array([0.90929204, 0.91961652, 0.89528024, 0.94542773, 0.91961652])

## Feature Selection / scoring with Random Forest

In [41]:
feature_importances=clf.feature_importances_

In [42]:
feature_names=X_full.columns

In [43]:
forest_importances= pd.Series(feature_importances, index=feature_names)

In [44]:
forest_importances.sort_values(ascending=False)

TARGET_D    0.110456
AVGGIFT     0.066611
LASTGIFT    0.058338
CARDGIFT    0.055233
RFA_2F      0.054667
              ...
TPE11       0.000000
TPE13       0.000000
LFC1        0.000000
LFC2        0.000000
STATE_FL    0.000000
Length: 355, dtype: float64

In [45]:
with pd.option_context('display.max_rows', None):
    print(forest_importances.sort_values(ascending=False))

TARGET_D        0.110456
AVGGIFT         0.066611
LASTGIFT        0.058338
CARDGIFT        0.055233
RFA_2F          0.054667
MINRAMNT        0.046625
NGIFTALL        0.038932
MAXRAMNT        0.032393
LASTDATE_YR     0.024133
RAMNTALL        0.021523
IC4             0.019449
CARDPROM        0.019202
ODATEW_YR       0.016864
MAXRDATE_YR     0.016510
RFA_2A_E        0.015008
NUMPRM12        0.014251
FIRSTDATE_YR    0.012718
HV1             0.011309
CARDPM12        0.011001
IC3             0.010501
NUMPROM         0.009397
HVP5            0.008870
DOMAIN_B        0.008805
IC5             0.008518
EC2             0.008509
IC6             0.008449
ETH1            0.008188
HV2             0.008126
DMA             0.007737
IC2             0.007626
RFA_2A_F        0.006433
IC19            0.005941
MHUC1           0.005763
EC5             0.005754
TIMELAG         0.005728
HHAS3           0.005628
IC21            0.005625
LASTDATE_MM     0.005452
DOB_YR          0.005395
RFA_2A_G        0.005246
CONTROLN        0.005213
HHD9            0.005074
HHD3            0.004744
IC13            0.004495
HVP4            0.004474
EC8             0.004184
HVP6            0.004172
HVP2            0.004023
RP2             0.003941
ANC4            0.003917
IC15            0.003782
ETH2            0.003727
EC3             0.003727
EC1             0.003510
HC21            0.003496
MARR4           0.003466
IC1             0.003438
HHD7            0.003438
AGE907          0.003429
EC4             0.003387
POBC1           0.003358
ETHC5           0.003279
RP1             0.003279
IC10            0.003121
CLUSTER2        0.003094
OCC11           0.002961
IC11            0.002759
IC22            0.002634
VOC1            0.002561
AGE902          0.002434
ETHC3           0.002316
HC20            0.002252
INCOME          0.002239
AGE901          0.002125
EIC15           0.002057
HHAS2           0.001989
HHN5            0.001942
HVP3            0.001907
LFC10           0.001815
IC16            0.001789
TPE3            0.001768
OEDC4           0.001693
IC12            0.001591
IC20            0.001535
ETHC2           0.001471
WWIIVETS        0.001442
IC17            0.001428
EIC11           0.001427
DW1             0.001403
IC18            0.001400
ETHC4           0.001396
OEDC3           0.001346
MC1             0.001327
IC8             0.001311
POP901          0.001298
HV4             0.001278
OEDC2           0.001267
HHD2            0.001249
AGEC1           0.001247
ANC5            0.001240
AFC1            0.001225
HHAGE1          0.001202
AGEC7           0.001110
ETH3            0.001058
EC7             0.001035
HUPA2           0.001034
TPE1            0.001027
AFC4            0.001008
MINRDATE_YR     0.001006
LSC1            0.001001
TPE2            0.000997
HC6             0.000995
HHAGE3          0.000983
VOC3            0.000946
HC7             0.000920
TPE12           0.000915
VIETVETS        0.000901
HUPA1           0.000891
AGE             0.000875
POP902          0.000868
VC3             0.000856
ETH6            0.000839
ETH8            0.000834
OCC1            0.000827
STATEGOV        0.000779
ETH4            0.000757
EIC1            0.000742
ANC10           0.000736
HHAS4           0.000735
AGEC5           0.000718
ANC8            0.000713
ANC6            0.000667
AGE905          0.000661
HC12            0.000655
LFC9            0.000647
HVP1            0.000646
ADI             0.000643
OCC13           0.000637
HIT             0.000631
ANC2            0.000623
AGE906          0.000614
OCC2            0.000613
HHD4            0.000609
SEC2            0.000605
IC7             0.000602
RP4             0.000598
HUR2            0.000590
ETHC1           0.000589
CHIL1           0.000585
HC3             0.000582
SEC1            0.000556
MINRDATE_MM     0.000532
IC14            0.000504
LSC3            0.000489
AFC5            0.000480
RHP2            0.000473
HU5             0.000448
LFC6            0.000440
HHD12           0.000426
HUPA5           0.000378
HC16            0.000271
RP3             0.000102
STATE_TX        0.000000
STATE_NC        0.000000
AFC3            0.000000
ODATEW_MM       0.000000
HC17            0.000000
STATE_WA        0.000000
DATASRCE        0.000000
AFC6            0.000000
VC1             0.000000
VC2             0.000000
CLUSTER         0.000000
VC4             0.000000
ANC1            0.000000
STATE_WI        0.000000
ANC3            0.000000
STATE_other     0.000000
AFC2            0.000000
SEC3            0.000000
DOB_MM          0.000000
SEC5            0.000000
FIRSTDATE_MM    0.000000
POP90C2         0.000000
OEDC5           0.000000
OEDC6           0.000000
OEDC7           0.000000
POP90C1         0.000000
POP903          0.000000
STATE_IL        0.000000
STATE_IN        0.000000
WEALTH2         0.000000
EC6             0.000000
STATE_MI        0.000000
FEDGOV          0.000000
MAXRDATE_MM     0.000000
STATE_MO        0.000000
HOMEOWNR_U      0.000000
SEC4            0.000000
HPHONE_D        0.000000
ANC12           0.000000
GENDER_M        0.000000
MALEMILI        0.000000
HC2             0.000000
HC4             0.000000
HC5             0.000000
WEALTH1         0.000000
AC2             0.000000
OEDC1           0.000000
AC1             0.000000
MHUC2           0.000000
HC8             0.000000
ANC7            0.000000
HC9             0.000000
MALEVET         0.000000
HC10            0.000000
HC11            0.000000
HC19            0.000000
HC13            0.000000
HC14            0.000000
HC15            0.000000
HC1             0.000000
VOC2            0.000000
LSC4            0.000000
TCODE           0.000000
GENDER_other    0.000000
ANC9            0.000000
ANC11           0.000000
HC18            0.000000
ANC13           0.000000
GEOCODE2_B      0.000000
GEOCODE2_C      0.000000
GEOCODE2_D      0.000000
ANC14           0.000000
ANC15           0.000000
DOMAIN_A_R      0.000000
DOMAIN_A_S      0.000000
LOCALGOV        0.000000
DOMAIN_A_T      0.000000
POBC2           0.000000
DOMAIN_A_U      0.000000
LSC2            0.000000
HHN4            0.000000
OCC8            0.000000
EIC16           0.000000
RHP4            0.000000
HHD11           0.000000
CHILC4          0.000000
CHILC3          0.000000
CHILC2          0.000000
ETHC6           0.000000
CHILC1          0.000000
AGEC6           0.000000
AGEC4           0.000000
HUR1            0.000000
RHP1            0.000000
RHP3            0.000000
HUPA3           0.000000
CHILC5          0.000000
HUPA4           0.000000
HUPA6           0.000000
HUPA7           0.000000
AGEC3           0.000000
AGEC2           0.000000
MSA             0.000000
CHIL3           0.000000
CHIL2           0.000000
AGE904          0.000000
IC9             0.000000
AGE903          0.000000
HHD10           0.000000
HHD8            0.000000
ETH15           0.000000
DW6             0.000000
MARR1           0.000000
MARR2           0.000000
MARR3           0.000000
HHN3            0.000000
HHP1            0.000000
HHP2            0.000000
HHN2            0.000000
DW2             0.000000
DW3             0.000000
DW4             0.000000
DW5             0.000000
DW7             0.000000
HHD6            0.000000
DW8             0.000000
DW9             0.000000
HHN1            0.000000
HV3             0.000000
HU1             0.000000
HU2             0.000000
HU3             0.000000
HU4             0.000000
HHD1            0.000000
HHAGE2          0.000000
HHD5            0.000000
ETH16           0.000000
ETH14           0.000000
POP90C3         0.000000
EIC2            0.000000
LFC8            0.000000
OCC3            0.000000
OCC4            0.000000
OCC5            0.000000
OCC6            0.000000
OCC7            0.000000
HHN6            0.000000
OCC9            0.000000
OCC10           0.000000
POP90C5         0.000000
OCC12           0.000000
EIC3            0.000000
LFC5            0.000000
EIC4            0.000000
EIC5            0.000000
EIC6            0.000000
EIC7            0.000000
EIC8            0.000000
EIC9            0.000000
EIC10           0.000000
POP90C4         0.000000
EIC12           0.000000
EIC13           0.000000
EIC14           0.000000
LFC7            0.000000
LFC4            0.000000
ETH13           0.000000
TPE4            0.000000
ETH12           0.000000
ETH11           0.000000
STATE_GA        0.000000
ETH10           0.000000
ETH9            0.000000
ETH7            0.000000
IC23            0.000000
HHAS1           0.000000
ETH5            0.000000
MC2             0.000000
MC3             0.000000
TPE5            0.000000
LFC3            0.000000
TPE6            0.000000
TPE7            0.000000
TPE8            0.000000
TPE9            0.000000
PEC1            0.000000
PEC2            0.000000
TPE10           0.000000
TPE11           0.000000
TPE13           0.000000
LFC1            0.000000
LFC2            0.000000
STATE_FL        0.000000
dtype: float64