In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import json
%matplotlib inline

In [13]:
df=pd.read_csv("Delivered+heat+2013-msoa.csv")

In [15]:
df

,Middle Super Output Area,MSOA name,Open Loop Ground Source Abstraction,Closed Loop Ground Source Abstraction,Air Source Heat Pumps,Rivers (10% Abstraction),Power Stations,Building Heat Rejection;Office,Building Heat Rejection;Retail,Building Heat Rejection;Gyms,Industrial Sources;Part A Processes,Industrial Sources;Part B Processes,Commercial Building Sources - Non HVAC;Supermarkets,Commercial Building Sources - Non HVAC;Data Centres,Wastewater (Treatment Plants);,Tubre rejected,National Grid Infrastructure,UKPN Infrastructure,Sewer heat mining;Various,TOTAL;GWh
0,E02000001,City of London 001,11,382,"492,610",NaN,934,"26,485","36,304","3,814",-,-,"2,379","17,773",-,554.0,-,"9,863","6,657",598
1,E02000002,Barking and Dagenham 001,364,"12,479",-,NaN,-,"5,404","13,477",-,-,-,-,-,-,NaN,-,-,-,32
2,E02000003,Barking and Dagenham 002,669,"18,913",-,NaN,-,570,"6,296",-,-,-,183,-,-,NaN,-,-,-,27
3,E02000004,Barking and Dagenham 003,"1,926","65,928",-,NaN,-,590,"1,670",-,-,-,-,-,-,NaN,-,-,"3,459",74
4,E02000005,Barking and Dagenham 004,269,"7,860",-,NaN,-,590,"1,314",-,"7,790",-,732,-,-,NaN,-,-,-,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,E02000979,Westminster 020,-,-,-,NaN,-,"26,379","20,890","1,090",-,-,732,-,-,183.0,-,-,"6,642",56
979,E02000980,Westminster 021,68,"2,329","71,246",NaN,-,"23,942","21,752",-,-,-,-,-,-,NaN,-,"3,073",-,122
980,E02000981,Westminster 022,1,33,-,NaN,-,"25,108","14,656",182,-,-,549,-,-,191.0,-,-,-,41
981,E02000982,Westminster 023,52,"1,786",-,NaN,-,"29,133","35,799",363,-,-,366,-,-,NaN,-,-,"5,756",73
982,E02000983,Westminster 024,110,"3,760",-,NaN,-,"24,048","13,477",182,-,-,-,-,-,NaN,-,-,-,42