In [1]:
import numpy as np 
import pandas as pd

In [8]:
ls

 Volume in drive C is OS
 Volume Serial Number is A4B9-8E3D

 Directory of C:\Users\Sergi\OneDrive\Documents\GitHub\sergiguasch\lessons\unit1\csv

01/20/2022  10:16 PM    <DIR>          .
01/20/2022  10:16 PM    <DIR>          ..
01/19/2022  11:02 AM           135,993 air_quality_no2_long.csv
01/20/2022  09:49 AM            49,622 camden-- euston road-air-quality.csv
01/18/2022  09:32 AM            27,668 city-of london - farringdon street-air-quality.csv
01/18/2022  02:38 PM           309,230 day1_analysis_H4A.csv
01/18/2022  02:56 PM           145,932 file1.csv
01/18/2022  02:57 PM            92,344 file2.csv
01/18/2022  02:57 PM           625,674 file3.csv
01/20/2022  09:52 AM            89,535 london_bloomsbury.csv
01/18/2022  09:48 AM            93,352 london-air-quality.csv
01/18/2022  10:12 AM            90,844 london-marylebone road, united kingdom-air-quality.csv
01/20/2022  09:46 AM            74,834 london-westminster-air-quality.csv
01/19/2022  02:13 PM         2,015,683 marketing_customer_analysis.csv
01/20/2022  02:59 PM           323,250 merged_clean_h4a.csv
01/19/2022  10:35 PM           254,150 merged_clean_ver1.csv
01/20/2022  11:32 AM           339,163 merged_healthcare.csv
              15 File(s)      4,667,274 bytes
               2 Dir(s)  344,653,189,120 bytes free

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is A4B9-8E3D

 Directory of C:\Users\Sergi\OneDrive\Documents\GitHub\sergiguasch\lessons\unit1\DAY2\Pollution

01/20/2022  10:14 AM    <DIR>          .
01/19/2022  09:43 PM    <DIR>          ..
01/20/2022  09:57 AM    <DIR>          .ipynb_checkpoints
01/18/2022  09:46 AM       786,264,069 4.1. Concentrations LAEI 2013 Update.zip
01/20/2022  09:49 AM            49,622 camden-- euston road-air-quality.csv
01/18/2022  09:32 AM            27,668 city-of london - farringdon street-air-quality.csv
01/19/2022  01:59 PM    <DIR>          LAEI2016_Emissions_Summary-NOxPMCO2_v1
01/19/2022  01:59 PM    <DIR>          LAEI2019-Emissions-Summary-Excel
01/20/2022  09:52 AM            89,535 london_bloomsbury.csv
01/18/2022  09:48 AM            93,352 london-air-quality.csv
01/18/2022  10:12 AM            90,844 london-marylebone road, united kingdom-air-quality.csv
01/20/2022  09:46 AM            74,834 london-westminster-air-quality.csv
01/20/2022  10:14 AM            14,628 Pollution London.ipynb
               8 File(s)    786,704,552 bytes
               5 Dir(s)  345,840,246,784 bytes free

In [10]:
data=pd.read_csv('london_bloomsbury.csv')

In [11]:
data

           date  pm25  pm10   o3  no2  so2   co
0      2022/1/3    44    13   20   20    2    5
1      2022/1/4    35    15   12   28        11
2      2022/1/5    43    18   26   20         9
3      2022/1/6    51    12   26   16         9
4      2022/1/7    38    13   23   15    1    6
...         ...   ...   ...  ...  ...  ...  ...
2929   2014/3/7               24   21    1
2930   2014/3/8               28   25    1
2931  2020/9/26                               1
2932  2020/9/27                               4
2933  2020/9/28                               2

[2934 rows x 7 columns]

In [12]:
data.shape

(2934, 7)

In [13]:
data.columns

Index(['date', ' pm25', ' pm10', ' o3', ' no2', ' so2', ' co'], dtype='object')

In [14]:
data.columns=data.columns.str.replace("25", "2.5")
data.columns

Index(['date', ' pm2.5', ' pm10', ' o3', ' no2', ' so2', ' co'], dtype='object')

In [15]:
data.columns=data.columns.str.replace(" ", "")
data.columns

Index(['date', 'pm2.5', 'pm10', 'o3', 'no2', 'so2', 'co'], dtype='object')

In [16]:
data

           date pm2.5 pm10   o3  no2 so2   co
0      2022/1/3    44   13   20   20   2    5
1      2022/1/4    35   15   12   28       11
2      2022/1/5    43   18   26   20        9
3      2022/1/6    51   12   26   16        9
4      2022/1/7    38   13   23   15   1    6
...         ...   ...  ...  ...  ...  ..  ...
2929   2014/3/7              24   21   1
2930   2014/3/8              28   25   1
2931  2020/9/26                             1
2932  2020/9/27                             4
2933  2020/9/28                             2

[2934 rows x 7 columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2934 entries, 0 to 2933
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2934 non-null   object
 1   pm2.5   2934 non-null   object
 2   pm10    2934 non-null   object
 3   o3      2934 non-null   object
 4   no2     2934 non-null   object
 5   so2     2934 non-null   object
 6   co      2934 non-null   object
dtypes: object(7)
memory usage: 160.6+ KB

In [18]:
data['pm2.5']=pd.to_numeric(data['pm2.5'],errors='coerce')
data['pm10']=pd.to_numeric(data['pm10'],errors='coerce')
data['o3']=pd.to_numeric(data['o3'],errors='coerce')
data['no2']=pd.to_numeric(data['no2'],errors='coerce')
data['so2']=pd.to_numeric(data['so2'],errors='coerce')
data['co']=pd.to_numeric(data['co'],errors='coerce')

In [19]:
nulls_df=pd.DataFrame(round(data.isna().sum()/len(data),4)*100)

In [20]:
nulls_df=nulls_df.rename(columns={'index':'header',0:'prop_nulls'})

In [21]:
nulls_df

       prop_nulls
date         0.00
pm2.5        2.42
pm10         5.01
o3           2.59
no2          1.87
so2         30.13
co          60.12

In [22]:
data=data.drop(['co'],axis=1)

In [23]:
nulls_df=pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df=nulls_df.rename(columns={'index':'header',0:'prop_nulls'})
nulls_df

       prop_nulls
date         0.00
pm2.5        2.42
pm10         5.01
o3           2.59
no2          1.87
so2         30.13

In [24]:
data=data.drop(['so2'],axis=1)

In [25]:
nulls_df=pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df=nulls_df.rename(columns={'index':'header',0:'prop_nulls'})
nulls_df

       prop_nulls
date         0.00
pm2.5        2.42
pm10         5.01
o3           2.59
no2          1.87

In [26]:
import time 
from datetime import date

In [27]:
data['date']=pd.to_datetime(data['date'],errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2934 entries, 0 to 2933
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2934 non-null   datetime64[ns]
 1   pm2.5   2863 non-null   float64
 2   pm10    2787 non-null   float64
 3   o3      2858 non-null   float64
 4   no2     2879 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 114.7 KB

In [28]:
data

           date  pm2.5  pm10    o3   no2
0    2022-01-03   44.0  13.0  20.0  20.0
1    2022-01-04   35.0  15.0  12.0  28.0
2    2022-01-05   43.0  18.0  26.0  20.0
3    2022-01-06   51.0  12.0  26.0  16.0
4    2022-01-07   38.0  13.0  23.0  15.0
...         ...    ...   ...   ...   ...
2929 2014-03-07    NaN   NaN  24.0  21.0
2930 2014-03-08    NaN   NaN  28.0  25.0
2931 2020-09-26    NaN   NaN   NaN   NaN
2932 2020-09-27    NaN   NaN   NaN   NaN
2933 2020-09-28    NaN   NaN   NaN   NaN

[2934 rows x 5 columns]

## What is the format of the data you have found?

In [29]:
#All fields were categorical and has been changed to a numerical data type.

## Will the data need cleaning?

In [30]:
#Yes, there are a few null values in some columns, specially in the CO, so we have dropped that column.

## Can I feasibly join this data with other sources of data I have collected?

## How reliable is the data source?

## What data questions can I really answer with this data?

## What recommendations or insights could I try to capture with this data?

## What actions can be taken off the back of any data analysis using this data?